body {
	background:url(../images/skin/default/bg/bgDot.png) repeat-x 100px 0px;
	margin:0px;
	font-family: sans-serif;
}
#svTop { 
	background:#00170f;
	width:100%;
	height:96px;
	position:relative;
	box-shadow:0px 0px 10px black;
	margin-bottom:60px;
}
#svTop #svTopBase {
	width:960px;
	height:100%;
	position:relative;
}
#svTop #svTopBase #svLogo {
	background:url(../images/skin/default/logo/topLogo.png) no-repeat;
	width:465px;
	height:96px;
	position:absolute;
}
#svFooter {
	background:#00170f;
	width:100%;
	overflow:hidden;
	box-shadow:0px 0px 10px black;
	margin-bottom:5px;
}
#svFooter #svFooterBase {
	width:960px;
	color:white;
}
#svFooter #svFooterBase #footerNav {
	float:left;
	width:500px;
	font-size:11px;
	text-align:left;
	padding-top:20px;
}
#svFooter #svFooterBase #footerLogo {
	background:url(../images/skin/default/bg/footerLogo.png) no-repeat right center;
	float:left;
	width:460px;
	height:50px;
}
#svFooter a {
	color:white;
	text-decoration:none;
	margin:0px 8px 0px 8px;
}
#svFooter a:hover {
	text-decoration:underline;
}
#svCopyright {
	padding-top:40px;
	background:url(../images/skin/default/bg/bgDot.png) repeat-x 0px -100px;
	font-size:12px;
	margin-bottom:40px;
}
#svContent {
	font-size:14px;
	text-align:left;
	width:940px;
	margin-bottom:100px;
}
#svTop #svTopBase #svNav {
	position:absolute;
	overflow:hidden;
	right:0px;
	bottom:0px;
}
#svTop #svTopBase #svNav a {
	float:left;
	padding:15px;
	font-size:13px;
	font-weight:bold;
	border-radius:5px 5px 0px 0px;
	color:#fff;
	text-decoration:none;
	-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;
}
#svTop #svTopBase #svNav a:hover {
	background:#fff	;
	color:#00170f;
}
h1, h2, h3, h4, h5, h6 {
	color:#00170f;
}
a:focus {
	outline:none;
}
span {
	font-size:20px;
	line-height:40px;
}
#divider {
	background:url(../images/skin/default/bg/navShadowTop.png) no-repeat;
	width:943px;
	height:9px;
	margin-bottom:20px;
}
input[type="text"], textarea {
	padding:10px;
	font-size:14px;
	font-family:sans-serif;
	width:300px;
	border:1px solid #00170f;
	-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;
}
textarea {
	min-width:300px;
	max-width:300px;
	min-height:100px;
	max-height:300px;
}
input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus {
	border-left:40px solid #00170f;
}
input:focus, textarea:focus {
	outline:none;
}
input[type="submit"] {
	background:#00170f;
	padding:10px;
	border:0px solid red;
	color:white;
	font-weight:bold;
	width:100%;
	-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;
}
input[type="submit"]:hover {
	background:#043b28;
}